*/config/development
*/config/production
*/config/testing
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/resfiles/*
.DS_Store
.idea/*
.settings
.buildpath
.project
ci.iml
composer.lock
*.bak
*__pycache__*
index.php
